<h1> Search for a movie! </h1>

<!-- The search results is sent to the /results route. GET signifies that we are trying to get information from a database, and this will create a query string.-->
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Search movie title...">
    <input type="submit">
</form>