<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpCamp</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
        <!-- A normal Bootstrap container is responsive and fixed-width. A fluid container has a full-width container. -->
            <a class="navbar-brand" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                        <% if(!currentUser) { %>
                            <li class="nav-item"><a class="nav-link" href="/login">Log-in</a></li>
                            <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
                        <% } else { %>
                            <li class="nav-item"><a class="nav-link" href="#">Signed in as: <%= currentUser.username %></a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
                        <% } %>
                </ul>
            </div>
    </nav>
    <div class="container">
        <%# Check if the errorMsg exists, AND if the length is greater than 0. We need to check for the legnth because even if there is no error, errorMsg is still an empty array which is not undefined. %>
        <% if(errorMsg && errorMsg.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= errorMsg %>
            </div>
        <% } %>
        <% if(successMsg && successMsg.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= successMsg %>
            </div>
        <% } %>
    </div>