<%- include("partials/header") %>
<h1> You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if (thingVar.toLowerCase() === "rusty"){ %>
    <p> GOOD CHOICE! RUSTY IS THE BEST! </p>
<% } %>

<p> This is coming from the love.ejs file. </p>

<%- include("partials/footer") %>